---
layout: default
---

{% for category in site.categories %}
{% assign cat = category[0] %}
<table class='container-fluid category table'>
  <h1><small>{{cat | capitalize }}</small></h1>
  <tbody class='carousel slide' id="{{ cat | replace:" ","-"}}" data-interval="false">
    <tr class='carousel-inner'>
  {% for post in site.categories.[cat] %}
  {% unless post.draft %}
    {% assign mod = forloop.index | modulo:6 %}
    {% if mod == 1 %}
      <td class='item {% if forloop.index < 6 %}active{% endif %}'>
    {% endif %}
      <div class='object'>
        <a class='thumbnail show-nav' href="{{ site.baseurl }}{{ post.url}}">
          <img src="{{ post.image }}"></img>
          <span class='overlay'>{{ post.title }}</span>
        </a>
      </div>
    {% if mod == 0 %}
      </td>
    {% endif %}
  {% endunless %}
  {% endfor %}                      
  {% if mod != 0 %}
      </td>
  {% endif %}
    </tr>
  </tbody>
    <a class="left carousel-control" href="#{{ cat | replace:" ","-"}}" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#{{ cat | replace:" ","-"}}" data-slide="next">›</a>
  </table>
</table>
{% endfor %}
<div class='container-fluid' id='main-info'>

</div>
